* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: 'Open Sans', 'Poppins', sans-serif;
}

header {
  padding: 1rem;
  font-family: 'Poppins';
  background-color: hsl(193, 100%, 96%);
}

header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0rem;
  gap: 1rem;
}

header nav p {
  box-shadow: 1px 1px 10px rgba(45, 45, 45, 0.25);

}

.get-started {
  text-align: center;
  background-color: hsl(322, 100%, 66%);
  border-radius: 100px;
  padding: 1.5rem 2.5rem;
  width: 90%;
  max-width: 300px;
  font-weight: 600;
  color: hsl(0, 0%, 99%);
  margin: 1rem;
  cursor: pointer;
  box-shadow: 1px 5px 20px rgba(45, 45, 45, 0.25);
}

.get-started:hover {
  background-color: hsl(332, 90%, 73%);
}

main div article h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1rem;
}

main div article p {
  font-size: 1rem;
  margin: 1rem;
  color: hsl(208, 11%, 55%);
}

.ready-container{
  z-index: 999;
  box-shadow: 1px 10px 30px rgba(45, 45, 45, 0.25) !important;
}

footer {
  background-color: hsl(192, 100%, 9%);
  color: hsl(0, 0%, 99%);
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5rem;
}

.footer-content div {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  gap: 1rem;
}

.footer-links p {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  cursor: pointer;
}

.footer-links p :hover {
  text-decoration: underline;
}

.footer-icons {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.footer-icons i {
  border: 1px solid white;
  padding: 0.5rem 0.6rem;
  border-radius: 50%;
  cursor: pointer;
}

.footer-icons i :hover {
  color: #eb239e;
}

/* Mobile Design */
@media screen and (max-width: 999px) {
  header {
    background-image: url(./images/bg-hero-mobile.svg);
    background-repeat: no-repeat;
  }

  header nav p {
    background-color: hsl(0, 0%, 99%);
    font-weight: 600;
    padding: 1rem;
    border-radius: 50px;
    cursor: pointer;
  }

  header nav p :hover {
    color: hsl(208, 11%, 55%);
  }

  header article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  header div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  header div article h1 {
    text-align: center;
  }

  header div article h1 span {
    font-size: 1.6rem;
    font-weight: 600;
    margin: 1.2rem 0.5rem;
    text-align: center;
  }

  header div article p {
    font-size: 1rem;
    margin: 1rem;
    text-align: center;
  }

  header div img {
    width: 80%;
  }

  header nav img {
    width: 40%;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-family: 'Open Sans';
    margin: 1rem;
    position: relative;
  }

  main div {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  main .grow-together-container,
  .flowing-conversations-container,
  .your-users-container,
  .ready-container {
    padding: 1rem;
    border-radius: 1rem;
    margin: 1rem;
    box-shadow: 1px 1px 10px rgba(45, 45, 45, 0.1);
  }
  
  main div article {
    font-size: 1rem;
    text-align: center;
  }

  main .grow-together-container img,
  .flowing-conversations-container img,
  .your-users-container img {
    width: 80%;
  }

  .ready-container {
    max-width: 90%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: hsl(0, 0%, 99%);
    top: 5rem;
    left: 3%;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    gap: 2.5rem;
    padding: 6rem 1rem 3rem 1rem;
  }

  .footer-links {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-left: 2rem;
  }

  .footericons-copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
  }
}

/* Desktop Design */
@media screen and (min-width: 1000px) {
  header {
    background-image: url(./images/bg-hero-desktop.svg);
    background-repeat: no-repeat;
  }

  header nav p {
    background-color: hsl(0, 0%, 99%);
    font-weight: 600;
    padding: 1rem 2rem;
    border-radius: 50px;
  }

  header div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  header div article h1 span {
    font-size: 2.5rem;
    font-weight: 600;
    margin: 1rem;
    text-align: left;
    gap: 1rem;
  }

  header div article p {
    font-size: 1rem;
    margin: 1rem;
    text-align: left;
  }

  header div img {
    width: 50%;
  }

  main {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-content: center;
    margin: 4rem 2rem;
  }

  main div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }

  main div article {
    text-align: left;
    margin: 4rem;
    width: 1200px;
  }

  main .grow-together-container,
  .flowing-conversations-container,
  .your-users-container,
  .ready-container {
    padding: 1rem;
    border-radius: 1rem;
    margin: 0.5rem;
    box-shadow: 1px 1px 10px rgba(45, 45, 45, 0.1);

  }

  main .grow-together-container img,
  .flowing-conversations-container img,
  .your-users-container img,
  .ready-container img {
    width: 50%;
  }

  .flowing-conversations-container {
    display: flex;
    flex-direction: row-reverse;
  }

  .ready-container {
    max-width: 50%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    position: relative;
    background-color: hsl(0, 0%, 99%);
    top: 7rem;
    left: 23%;
  }

  .ready-container h3 {
    font-size: 2rem;
  }

  footer {
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2.5rem;
    padding: 10rem 3rem;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    gap: 2.5rem;
    width: 30%;
  }

  .footer-content div {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    gap: 1rem;
  }

  .footer-links {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
  }

  .footer-links p {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .footericons-copyright {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }

  .footer-icons {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .copyright {
    position: relative;
    top: 12rem;
  }
}
